/*===== APP =====*/
.app{
    &__data {
        text-align: center;
    }

    &__description{
        margin-bottom: var(--margin-5);
    }

    &__stores{
        margin-bottom: var(--margin-4);
    }

    &__store{
        width: 120px;
        margin-bottom: 0 var(--margin-1);
    }

    &__img{
        width: 230px;
        justify-self: center;
    }
}